body {
	background-color: #ACD7EC;
}

#curryhome {
	background: #587291;
	height: 425px;
	background-repeat: no-repeat;
	backgroun-size: cover;
	width: 100%;
}
#duranthome{
	background: #587291;
	height: 415px;
	background-repeat: no-repeat;
	backgroun-size: cover;
	width: 100%;
}

#mainhome {
	background: url("thumbnail.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
}
#dončićhome{
	background: #587291;
	height: 420px;
	background-repeat: no-repeat;
	backgroun-size: cover;
	width: 100%;
}

p{
color:white;
	font-size:30px;
	text-align:center;	
}

h4{
	color:white;
	font-size:40px;
	text-align:center;
}

h1{
	color: white;
	font-size: 100px;
}

h2{
	color: white;
	font-size: 70px;
	text-align: center;
}

h3{
	color:white;
	font-size:30px;
	text-align: center;
}

	.homenav {
   background-color: #95B1D5;
   overflow: hidden;
}

.homenav a {
   float: left;
   color: #FFFFFF;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.homenav a:hover {
   background-color: #0D316A;
   color: white;
}

.homenav a.active {
   background-color: #011638;
   color: white;
}



img {
   float: left;
   margin-left: 50px; 
   padding: 10px; 
}

img {
   float: right;
   margin-right: 50px;
   padding: 10px; 
}


